.password-recovery {
    width: 400px;
    height: 250px;
    position: relative;
    background-color: rgb(119, 117, 117);
    border-radius: 5px;
    /*отступы временно*/
    margin: 20px 0 20px 100px;
}

.password-recovery__block h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px 0 20px 0;
}

.password-recovery__inputs {
    text-align: center;
}

.password-recovery__inputs input {
    width: 250px;
    height: 30px;
    margin: 10px;
    border-radius: 3px;
    padding: 10px;
    border: none;
}

.password-recovery__button {
    text-align: center;
}

.password-recovery__btn {
    width: 200px;
    height: 40px;
    margin: 20px 0 20px 0;
    border-radius: 3px;
    background-color: rgb(74, 202, 23);
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}